
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nottario - Contract Page</title>

  <!-- CSS  -->
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="app">
    <h1 v-if="error">{{ error }}</h1>
    <div>
      <p>Name is {{ name }}</p>
      <p>Hash is {{ hash }}</p>
      <p>Committed to the Blockchain on {{ timestamp }}</p>
    </div>

    <div id="drop_zone" ondrop="verify_file(event);" ondragover="allowDrop(event)">
      <strong>Drag a file to this Drop Zone to verify ...</strong>
    </div>
    <div v-if="verified">VERIFIED!!</div>

  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/sha256.js"></script>
  <script src="js/solidity.js"></script>
  <script src="js/contract.js"></script>
  </body>
</html>

