
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nottario - Blockhain-powered Nottary</title>

  <!-- CSS  -->
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="app">
    <div v-if="web3Missing">
      <p>Please install the Metamask Plugin or Mist Browser to use Nottario</p>
    </div>
    <div v-if="!loggedIn">
      <p>You appeared to be logged out of Metamask. Please log in to continue using Nottario</p>
    </div>
    <div v-if="!web3Missing && loggedIn">
      <div id="drop_zone" ondrop="drop_handler(event);" ondragover="allowDrop(event)">
        <strong>Drag one or more files to this Drop Zone ...</strong>
      </div>

      <div v-if="name">Name of your file is {{ name }} </div>
      <div v-if="type">Type of file is {{ type }} </div>
      <div v-if="size">Size of  file is {{ size }} </div>
      <div v-if="lastModified">File last modified {{ lastModified }} </div>
      <div v-if="hash">Hash of your file is {{ hash }} </div>
      <button :disabled="!hash || !name || hash.length!=64" v-on:click="create_contract">Create Contract</button>
    </div>
    <div v-if="animate">
      <p>I am animating!!! Waiting for Blockchain</p>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/sha256.js"></script>
  <script src="js/solidity.js"></script>
  <script src="js/nottario.js"></script>
  </body>
</html>

