<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nottar.io - Blockchain Notarisation Service</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="css/freelancer.css" rel="stylesheet">

  <!-- Nottario CSS -->
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">
<div id ="app" v-cloak>
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#page-top">Nottar.io</a>
          </div>
          <!-- /.navbar-collapse -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll" v-if="blockstack_enabled && !profile">
                        <button type="button" class="btn btn-primary" v-on:click="login">Log In</button>
                    </li>
                    <li class="page-scroll" v-if="blockstack_enabled && profile && profile.image">
                     <button type="button" class="btn btn-primary" v-on:click="viewHistory"><img :src="profile.image[0].contentUrl" class="img-responsive icon-size"> </img></button>
                    </li>
                    <li class="page-scroll" v-if="blockstack_enabled && profile && !profile.image">
                     <button type="button" class="btn btn-primary" v-on:click="viewHistory"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
                    </li>
                    <li class="page-scroll" v-if="blockstack_enabled && profile">
                        <button type="button" class="btn btn-primary" v-on:click="logout">Log Out</button>
                    </li>
                    <li class="page-scroll" >
                      <button type="button" class="btn btn-primary" v-on:click="about">About</button>
                    </li>
                    <li class="page-scroll" >
                      <button type="button" class="btn btn-primary" v-on:click="contact">Contact</button>
                    </li>
                </ul>
            </div>

      </div>
      <!-- /.container-fluid -->
  </nav>



  <!-- Header -->
  <header v-if="!upload_visible">
      <div class="container" id="maincontent" tabindex="-1">
          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-text">
                      <h1 class="name">Nottar.io</h1>
                      <hr class="star-light">
                      <span class="skills">Notarise documents using the Ethereum blockchain</span>
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary btn-lg buttonspace" v-on:click="display_upload">Notarise now!</button>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <section id = "history" v-if="nottarioHistory" class="col-lg-8">
   <div class="alert alert-cert">
    <h2 style="text-align:center">Your Notarisation History</h2>
    <br>
    <table  class="table table-striped">
      <tr>
          <th>Document Name</th>
          <th>Document Type</th>
          <th>Blockchain Timestamp</th>
          <th>Your Certificate</th>
      </tr>
      <tr v-for="n in nottarioHistory">
        <td>{{ n.name }}</td>
        <td>{{ n.type }}</td>
        <td>{{ (new Date(n.timestamp)).toUTCString() }}</td>
        <td><a v-bind:href="'contract.html#'+ n.contractAddress" target="_new">View Certificate</a></td>
      </tr>
    </table> 
   </div>
  </section>
 
  <section id = "upload" v-if="upload_visible">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 text-center">
           <div v-if="web3Missing">
             <p>Please install the<a href="https://metamask.io/" target="_blank">Metamask Plugin</a> or <a href="https://github.com/ethereum/mist" target="_blank">Mist Browser</a> to use Nottario</p>
           </div>
           <div v-if="!web3Missing">
             <div v-if="!hash">
               <h2>Drag and drop a file into the dropzone</h2>
               <hr class="star-light">
             </div> 
             <div v-bind:class="{ dragging: dragging }" v-if="!hash" id="drop_zone" ondrop="drop_handler(event);" ondragover="allowDrop(event)" ondragleave="dragout(event)">
               <strong>Drop Zone ...</strong>
             </div>
             <div v-if="hash"> 
               <h2>File Details</h2>
               <hr class="star-light">
               <table class="table">
                 <tr><th>Name</th><td>{{ name }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>File type</th><td>{{ type }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>Size</th><td>{{ size }} bytes</td></tr>
                 <tr><th>Last modified</th><td>{{ lastModified }}</td></tr>
                 <tr><th>Hash</th><td>{{ hash }}</td></tr>
               </table>
             </div>
             <div class="buttonspace" v-if="!animate">
               <button type="button" class="btn btn-primary btn-lg" :disabled="!hash || !name || hash.length!=66" v-on:click="create_contract">Notarise</button>
               <button type="button" class="btn btn-danger btn-lg"  v-on:click="cancel_upload">Cancel</button>
             </div>
           </div>
           <div v-if="animate">
             <p v-if="!error"><img src="img/animation.gif" /></p>
             <p v-if="!error"> Please wait for the contract to be stored in the Ethereum blockchain. 
               This could take up to a minute. When it is done, you will be redirected to your
               notarisation certificate.</p> 
             <p><a v-bind:href="etherscanLink" target="_new">Blockchain transaction {{ tx }}</a></p>
             <p v-if="error">An error has occured. The error is "{{ error }}".</p>
           </div>
         </div>
       </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-4">
                  <i class="fa fa-file-text-o fa-5x icon-padding" aria-hidden="true"></i>
                  <i class="fa fa-arrow-right fa-5x icon-padding" aria-hidden="true"></i>
                  <i class="fa fa-slack fa-5x icon-padding" aria-hidden="true"></i>
                  <p><strong><i>1. We turn your document into a cryptographic hash</i></strong> </p>
              </div>
              <div class="col-lg-4">
                  <i class="fa fa-slack fa-5x icon-padding" aria-hidden="true"></i>
                  <i class="fa fa-arrow-right fa-5x icon-padding" aria-hidden="true"></i>
                  <i class="fa fa-chain fa-5x icon-padding" aria-hidden="true"></i>
                  <p><strong><i>2. We upload the hash to the Ethereum Blockchain</i></strong> </p>
              </div>
              <div class="col-lg-4">
                  <i class="fa fa-certificate fa-5x icon-padding" aria-hidden="true"></i>
                  <i class="fa fa-check fa-5x icon-padding" aria-hidden="true"></i>
                  <p><strong><i>3. You keep your Notarisation Certificate!</i></strong> </p>
              </div>
          </div>
          <div class="row text-center">
            <a class ="skills" href="about.html"><p>Find out more</p></a>
          </div>

      </div>
  </section>

  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-below">
          <div class="container">
          <div class="row">
                  <div class="col-lg-12">
                      Featured on <a href="https://dapps.ethercasts.com/dapp/nottario"> State of the Dapps</a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; Nottar.io 2017
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
      <a class="btn btn-primary" href="#page-top">
          <i class="fa fa-chevron-up"></i>
      </a>
  </div>

</div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
  <script src="js/solidity.js"></script>
  <script src="js/blockstack.js"></script>
  <script src="js/nottario.js"></script>


</body>

</html>
