<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nottar.io - Blockchain Notarisation Service</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Nottario CSS -->
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
  <div id ="app">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top">Nottar.io</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header v-if="!upload_visible">>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Nottar.io</h1>
                        <hr class="star-light">
                        <span class="skills">Notarise documents using the Ethereum blockchain</span>
                    </div>
                    <div>
                      <button type="button" class="btn btn-primary btn-lg buttonspace" v-on:click="display_upload">Nottarise now!</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <section id = "upload" v-if="upload_visible">
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">
             <div v-if="web3Missing">
               <p>Please install the Metamask Plugin or Mist Browser to use Nottario</p>
             </div>
             <div v-if="!web3Missing">
               <div v-if="!hash">
                 <h2>Drag and drop a file into the dropzone</h2>
                 <hr class="star-light">
               </div> 
               <div v-bind:class="{ dragging: dragging }" v-if="!hash" id="drop_zone" ondrop="drop_handler(event);" ondragover="allowDrop(event)" ondragleave="dragout(event)">
                 <strong>Drop Zone ...</strong>
               </div>

               <table v-if="hash" class="table">
                 <tr><th>Name</th><td>{{ name }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>File type</th><td>{{ type }}<span v-if="name.length==32">...</span></td></tr>
                 <tr><th>Size</th><td>{{ size }} bytes</td></tr>
                 <tr><th>Last modified</th><td>{{ lastModified }}</td></tr>
                 <tr><th>Hash</th><td>{{ hash }}</td></tr>
               </table>
               <div class="buttonspace" v-if="!animate">
                 <button type="button" class="btn btn-primary btn-lg" :disabled="!hash || !name || hash.length!=66" v-on:click="create_contract">Create Contract</button>
                 <button type="button" class="btn btn-danger btn-lg"  v-on:click="cancel_upload">Cancel</button>
               </div>
             </div>
             <div v-if="animate">
               <p><img src="img/animation.gif" /></p>
               <p>Tx {{ tx }}</p>
             </div>
           </div>
         </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><strong><i>Notarise</i></strong> v. to be witness of the authenticity of a document and its accompanying signatures in one's capacity as notary public</p>
                    <p><strong>Nottar.io</strong> is a service that allows you to notarise documents using the Ethereum blockchain.</p>
                    
                    <h3>WHAT?</h3>
                    <p>In the past, if you wanted to prove that you had a certain document at a certain point in time, you might take it to a notary public who would, for a fee, be witness to that fact. And the fees were (and are!) significant.</p>
                    <p>Today, the blockchain can do that for you without involving a notary public or solicitor and for a much smaller fee.</p>
                    
                    <h3> How?</h3> 
                    <h4>Identity</h4> 
                    <p>Any electronic document (Word, Excel, PDF, jpg or anything else) has a unique cryptographic "fingerprint" or hash. it is unique to that document and that document only. If you make even the tiniest change to the document (remove a comma in a contract, for example), the new document's hash will be completely different. By hashing your document you are obtaining a unique identifier for it, without actually revealing any information about the document itself.</p>
                    <h4>Timestamp</h4>
                    <p>By submitting your document's hash in a Smart Contract to the Ethereum blockchain (the hash, remember, NOT the document itself), you are obtaining an unforgeable timestamp for your action, because every block in the blockchain has a timestamp and that timestamp cannot be altered.  (See, for example, this block's timestamp.....)</p>
                    <p>The combination of those to things (the hash in the Smart Contract and the timestamp) means that you can point to a document in your possession and to the smart contract on the Blockchain, and assert that you have had that document since at least that particular point in time.</p>
                    <p>And, because the data in the blockchain is readable and publicly accessible, anyone can verify your claim. They can read the Smart Contract, extract the hash and compare it to the hash of the document in your possession. If the two hashes are the same, the two documents must be the same.
                    
                    <h3>So what?</h3>
                    <p>There are plenty of real-world uses for this tech:
                    <ol>
                    <li>You make a work of art (a drawing or a poem). If you register it on the blockchain, you can prove that you had that creation at a given point. This will strengthen your case in any future intellectual property disputes.</li>
                    <li>You draw up a will. If you register it on the Blockchain, your heirs will know whether they are dealing with the will you wrote and not another (forged?) copy.</li>
                    <li>You draw up a contract with someone else. You both sign it and then it gets registered on the blockchain. Everyone will be able to know whether or not they are looking at the canonical version of that contract by comparing the registered hash with the hash of the document in their possession. </li>
                    </ol>
                    </p>
                    
                    <h3>How much does it cost?</h3>
					<p>The cost is two-fold:</p>
					<ol>
					<li>We charge 0.01 ETH for submitting the contract to the blockchain</li>
					<li>There is a blockchain network fee for the contract to be added to a block, which can vary but it is around 0.01 ETH</li></ol>
 					<p>So the total cost will be around 0.02 ETH. For the current ETH-->USD rate have a look here</p>

 					<h3>I like it! What do I do?</h3>
 					<p>You need to have the Metamask browser plugin or the Mist Browser installed</p>
 					<p>You need to have some ETH to pay for the transaction. You can get some here or here</p>
 					<p>Once you have the above, click the button below and simply drag and drop your document into the dropzone. Remember, <strong>your document stays with you</strong>. ONLY the hash gets uploaded to the public internet. Nottario does not even copy your document to its servers because the hash calculation is performed by your browser on your machine. Your document never leaves your computer.</p>
 					<p>Then click on Create and follow the Metamask instructions.</p>
					<p><strong>Remmeber:</strong>Wait until the transaction has been processed! This can take up to a minute. You will be redirected to a page with a web URL like this http://nottar.io/contract.html#0x39ca3a6b71fa759c650c7f2e07acf7e6d0cbb0db . This is your certificate page and you can always come back to it.</p>
					<p>The last bit of that web URL is the address of your Smart Contract on the blockchain. Keep a note of it. Even if we go out of business you will always be able to access the smart contract at https://etherscan.io/address/##your_address_here##</p>
                </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg buttonspace" v-on:click="display_upload">Nottarise now!</button>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Nottar.io 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</div>  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/sha256.js"></script>
    <script src="js/solidity.js"></script>
    <script src="js/nottario.js"></script>


</body>

</html>
